.app-logo {
    height: 150px;
}

.app-header{
    background-color: rgb(244, 255, 255);
    height: 200px;
    padding: 40px;
    color: #333333;
    text-align: center;
}

.app-title{
    font-size: 1.5em;
}